.heading
{
    font-size:1.8rem;
    font-weight: 800;
    color:var(--btn-bg);
    margin-top:4rem;
    margin-bottom: 1rem;
}
.card__followers
{
    margin-bottom: 2rem;
}
.card__top :is(.card__followers,
form,.card__price)
{
    margin-bottom:2rem;
}
input[type="range"]
{
    background: var(--soft-cyan);
    display:block;
    margin:0 auto;
    width:clamp(100px,100%,200px);
    outline:none;
    cursor: pointer;
    touch-action: none;
}
.card__price
{
    font-size: 24px;
    font-weight: 800;
    color:var(--btn-bg);
}
.card__billing
{
    margin-left:.5rem;
}
.card__price-container
{
    margin-bottom: 1rem;
}

.card__2nd-form
{
    display:flex;
    align-items: center;
    justify-content: center;
}

/* .card__switch
{
    position: relative;
    padding:1.5rem 3rem;
    background-color: var(--empty-slide);
}
.card__slide
{
    padding:1rem;
    border-radius: 50%;
    position: absolute;
    left:.25rem;
    top:.25rem;
    transition: left .5s;
    cursor: pointer;
} */
.card__switch-container
{
    z-index:2;
    margin-left:3.5rem;
    position: relative;
    background-color: var(--empty-slide);
    cursor: pointer;
    background-color: var(--empty-slide);
    border-radius: 1rem;
}
.card__switch
{
    width:4rem;
    height: 2rem;
    display:block;
    visibility: hidden;
    cursor: pointer;
}
.card__toggle
{
    z-index: 2;
    position: absolute;
    top:.2rem;
    left:.2rem;
    padding:calc(1rem - .2rem);
    border-radius: 50%;
    background-color: var(--btn-bg);
    transition: left .4s;
}

.discount
{
    background-color: var(--btn-bg);
}
.discount .card__toggle
{
    left:calc(2rem);
    background-color: white;
}

.fa-check
{
    color:var(--strong-cyan);
    display: inline-block;
    font-size:.8rem;
    margin-right: .5rem;
}
.card__billing::after{
    content: "-25%";
    color:var(--btn-txt);
    background-color: var(--btn-bg);
    padding:.2rem;
    margin-left: .5rem;
    border-radius: .5rem;
    /* display: block; */
}

.card__btn
{
    background-color: var(--btn-bg);
    color:white;
    padding:1rem 5rem;
    display:block;
    width:max-content;
    margin:2rem auto 0;
    border-radius: 2rem;
    cursor: pointer;
    border:none;
    font-size: 1rem;
    font-weight: 600;
}
.card__list
{
    margin:0;
    padding:0;
    list-style-type: none;
}
.card__list-item
{
    margin-bottom: .5rem;
}


@media screen and (min-width:1000px)
{
    .card
    {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .card__top
    {
        border:none;
        flex-basis: 60%
    }
    .card__buttom
    {
        flex-basis:40%;
    }
}